* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: #f1f5f8;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.title {
  font-family: "Great Vibes", cursive;
  color: rgb(167, 142, 0);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.questions-center {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-box {
  width: 80%;
  max-width: 500px;
  background-color: white;
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1.6rem;
  border-radius: 5px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.icon-box {
  background-color: white;
  border: none;
}

i {
  color: rgb(167, 142, 0);
  transition: 0.2s;
}

.question-text {
  overflow: hidden;
  height: 0;
}

.question-text p {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1.5px solid rgb(206, 206, 206);
  color: rgba(82, 98, 172, 0.918);
  transition: 0.5s;
}

.show-text .question-text {
  height: auto;
}

.show-text i {
  transform: rotate(90deg);
}
